Subject line: Important: {{event_name}} Location Change

Hello, 

We are writing because you were invited by a friend to the "{{event_name}}" party on {{event_month}}. {{event_day}}, {{event_year}} from {{event_start_time}} - {{event_end_time}} {{event_ampm}}. Just wanted to let you know that the venue has changed to {{venue_name}}.  {{venue_name}} is located at {{venue_address}}.  If you haven't bought a ticket, we encourage you to do so now using the link below:

{{site_url}}{{event_url}}

We look forward to seeing you on {{event_month}}. {{event_day}}, {{event_year}}. 

Cheers, 

The Host Committee Team